@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/"

<div class="hero text-center">
    <div class="container-new px-3">
        <div class="pb-6">
            <h1 class="f00-light color-fg-on-emphasis">Chroma Control</h1>
            <p class="col-md-8 mx-auto mb-4 f3-light color-fg-muted">
                Control all of your devices RGB using Razer Synapse. Chroma Control allows you unify all of your lighting for 3rd party devices under Razer Synapse.
            </p>
            <a class="mx-1 my-3 f3 btn btn-primary btn-large" href="https://github.com/ChromaControl/ChromaControl/releases/download/preview/ChromaControl.appinstaller">Download Stable Release</a>
            <p>By downloading, you agree to the <a href="https://github.com/ChromaControl/ChromaControl/blob/main/LICENSE.txt" target="_blank">Open Source Applications Terms</a>.</p>
        </div>
        <a class="btn-mktg btn-muted-mktg f4 mb-6" href="https://github.com/ChromaControl/ChromaControl" target="_blank">See the source code</a>
    </div>
</div>
