@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<DialogScaffold Width="600" Scrollable="true" CancelText="CLOSE" Title="@LatestVersion">
    <Content>
        <div class="release-notes-container">
            @UpdateService.GetLatestReleaseNotes()
        </div>
    </Content>
    <AdditionalButtons>
        <Button Style="Button.StyleType.Primary" @onclick="UpdateService.InstallLatestUpdate">INSTALL</Button>
    </AdditionalButtons>
</DialogScaffold>
