@page "/"

<div class="blankslate">
    <img src="img/icon.png" class="mb-3" />
    <h1 class="mb-1">Chroma Control</h1>
    <p>Razer Synapse modules for controlling all of your RGB products.</p>
    <a class="btn-mktg btn-primary-mktg my-3" role="button" href="download/preview">Download Preview Channel</a>
    <!--<p>Download for <a class="btn-link" role="button" href="download/preview">Preview Channel</a></p>-->
</div>
