@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="device @StateClass" role="tab" aria-selected="@AriaSelected" tabindex="@TabIndex" @onclick="OnSelect">
    <div class="device-content-wrapper">
        <div class="device-content">
            <div class="device-name">
                <span>@Name</span>
            </div>
        </div>
    </div>
</div>
