@inherits LayoutComponentBase

<nav class="UnderlineNav d-block" style="box-shadow: inset 0 -1px 0 var(--color-border-primary);">
    <div class="container-lg d-flex flex-items-center px-3 px-md-6 px-lg-3 py-0">
        <img height="32" width="32" src="/img/icon.png" />
        <a aria-current="page" class="UnderlineNav-item" style="border-bottom-color: transparent;" href="/">Chroma Control</a>
        <div class="UnderlineNav-body flex-auto flex-justify-end hide-sm hide-md" role="tablist">
            <a class="UnderlineNav-item anim-hover-grow" role="tab" href="https://github.com/ChromaControl/ChromaControl/releases" target="_blank">Release Notes</a>
            <a class="UnderlineNav-item anim-hover-grow" role="tab" href="https://github.com/ChromaControl/ChromaControl/issues" target="_blank">Help</a>
            <a class="UnderlineNav-item anim-hover-grow" role="tab" href="https://discord.gg/6xGy7cycrt" target="_blank">Discord</a>
        </div>
        <div class="flex-auto d-flex flex-justify-end hide-lg hide-xl">
            <button class="btn btn-outline" style="padding: 6px 12px; background-color: var(--color-bg-primary); border-color: var(--color-border-secondary);" type="button" @onclick="ToggleMobileNav">
                <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="12" class="octicon octicon-three-bars"><path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path></svg>
            </button>
        </div>
    </div>
</nav>

@if (!mobileNavCollapsed)
{
    <div class="Box border-top-0 border-right-0 rounded-0 position-fixed right-0 width-full height-full text-center overflow-hidden hide-lg hide-xl" style="z-index: 11; max-width: 300px;">
        <a class="UnderlineNav-item anim-hover-grow d-block" role="tab" href="https://github.com/ChromaControl/ChromaControl/releases" target="_blank">Release Notes</a>
        <a class="UnderlineNav-item anim-hover-grow d-block" role="tab" href="https://github.com/ChromaControl/ChromaControl/issues" target="_blank">Help</a>
        <a class="UnderlineNav-item anim-hover-grow d-block" role="tab" href="https://discord.gg/6xGy7cycrt" target="_blank">Discord</a>
    </div>
    <div class="width-full height-full position-fixed hide-lg hide-xl" style="background: var(--color-scale-gray-9); opacity: 0.6; z-index: 8;" />
}

@Body

<footer class="mt-6">
    <div class="container-xl p-responsive f6 py-4 d-sm-flex flex-justify-center flex-items-center">
        <ul class="list-style-none d-flex color-text-tertiary">
            <li class="mr-3">&copy; Chroma Control Contibutors.</li>
            <li class="mr-3">
                <a class="Link--primary" href="https://github.com/ChromaControl/ChromaControl/blob/main/LICENSE.txt" target="_blank">Terms</a>
            </li>
            <li class="mr-3">
                <a class="Link--primary" href="https://github.com/ChromaControl/ChromaControl/blob/main/SECURITY.md" target="_blank">Security</a>
            </li>
            <li>
                <a class="Link--primary" href="https://github.com/ChromaControl/ChromaControl/blob/main/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>
            </li>
        </ul>
    </div>
</footer>

@code {
    private bool mobileNavCollapsed = true;

    private void ToggleMobileNav()
    {
        mobileNavCollapsed = !mobileNavCollapsed;
    }
}
