<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="ChromaControl"
    Publisher="CN=Andrew Babbitt, O=Andrew Babbitt, L=Colorado, S=Colorado Springs, C=US"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="10d8362c-e3c0-4676-ae8b-c629c898a406" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Chroma Control</DisplayName>
    <PublisherDisplayName>Chroma Control Contributors</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ChromaControl.App">
      <uap:VisualElements
        DisplayName="Chroma Control"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Razer Synapse modules for controlling all of your RGB products."
        BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png"
                         Wide310x150Logo="Assets\WideTile.png"
                         Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
