@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/about"

<div class="Box">
    <div class="blankslate">
        <img src="common/img/logo.svg" class="blankslate-image" />
        <h3 class="blankslate-heading">Chroma Control</h3>
        <p>Version @ChromaControlConstants.ExecutingAssemblyVersion</p>
        <div class="blankslate-action mt-0">
            <a class="btn-link">Release Notes</a>
        </div>
        <div class="blankslate-action mt-1">
            <a class="btn-link">Terms and Conditions</a>
        </div>
    </div>
</div>
