@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/"
@inject Drivers.DriversClient client

<div class="Subhead">
    <h2 class="Subhead-heading">Drivers</h2>
</div>

<p>Drivers are what allow Chroma Control to control devices, by turning one on you enable Chroma Control to control devices in that manufacturers ecosystem passing them lighting data from Razer Synapse.</p>

<form>
    @if (drivers != null)
    {
        @foreach (var driver in drivers.Drivers)
        {
            <div class="form-checkbox">
                <label>
                    <input type="checkbox" @bind="driver.Enabled" />
                    @driver.Name
                </label>
            </div>
        }
    }
</form>

@code {
    private GetDriversResponse? drivers;

    protected override async Task OnInitializedAsync()
    {
        drivers = await client.GetDriversAsync(new());
    }
}
