@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/"

<div class="Box rounded-top-0 my-8 mx-6">
    <div class="blankslate">
        <img src="common/img/logo.svg" class="blankslate-image" />
        <h3 class="blankslate-heading">There doesn't seem to be anything here yet.</h3>
        <p>This new UI still has a lot of work to be done, check back later for something more complete.</p>
    </div>
</div>
