@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div role="group">
    @foreach (var vendor in _vendors)
    {
        <div class="vendor-checkbox-item">
            <InputCheckbox id="@($"vendor_{vendor.Name}")" @bind-Value="vendor.Enabled" @bind-Value:after="() => OnVendorChanged(vendor)"/>

            @if (vendor.Dangerous)
            {
                <svg class="dangerous" version="1.1" viewBox="0 0 12 12" width="12" height="12">
                    <path d="M4.855.708c.5-.896 1.79-.896 2.29 0l4.675 8.351a1.312 1.312 0 0 1-1.146 1.954H1.33A1.313 1.313 0 0 1 .183 9.058ZM7 7V3H5v4Zm-1 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path>
                </svg>
            }

            <label for="@($"vendor_{vendor.Name}")" @onclick="() => ToggleCheckbox(vendor)">@vendor.Name</label>
        </div>
    }
</div>
