@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<DialogScaffold Title="SETTINGS" Width="600">
    <Content>
        <h1>Hello World</h1>
    </Content>
    <AdditionalButtons>

    </AdditionalButtons>
</DialogScaffold>
