/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.update-spin-icon {
    animation: spin 1s linear infinite;
    fill: currentColor;
    flex-shrink: 0;
    align-self: center;
    margin-right: 3px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
