/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.row {
    display: flex;
    flex-direction: row;
}

.row-margin-standard:not(:last-child) {
    margin-bottom: var(--spacing);
}

.row-margin-none:not(:last-child) {
    margin-bottom: 0;
}

.row-left {
    justify-content: left;
}

.row-center {
    justify-content: center;
}
