/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.tabs {
    display: flex;
    flex: 1;
    min-height: 0;
}

.tab-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    flex-shrink: 0;
    padding: var(--spacing) 0;
}

.tabs-content {
    padding: var(--spacing-double);
    border-left: var(--base-border);
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .tabs-content > ::deep h2 {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight);
        margin-top: 0;
        margin-bottom: var(--spacing);
    }
