/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.window-title-bar {
    -webkit-app-region: drag;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 28px;
}

.window-title-bar-icon {
    margin: 0 var(--spacing);
    align-self: center;
}

.window-title-bar-light {
    border-bottom: none;
}

.window-title-bar-full {
    border-bottom: var(--base-border);
}
