/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.buttons {
    display: flex;
    position: absolute;
    right: 2px;
    top: 0;
    bottom: 0;
    height: 100%;
}

    .buttons > div {
        width: 48px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
    }

        .buttons > div:hover {
            background-color: #222;
        }
