@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="buttons">
    <div class="button-minimize" @onclick="OnMinimize">
        <svg version="1.1" width="48" height="32" viewBox="0 0 48 32">
            <g transform="translate(-270 -22)">
                <rect style="fill: #111; opacity: 0;" transform="translate(270 22)" width="48" height="32" />
                <path style="fill: #999; fill-rule: evenodd;" transform="translate(-864 22)" d="m1152 17v-1h12v1z" />
            </g>
        </svg>
    </div>
    @if (Window.WindowState == WindowState.Maximized)
    {
        <div class="button-restore" @onclick="OnRestore">
            <svg version="1.1" width="48" height="13" viewBox="0 0 13 13">
                <path style="fill: #999;" d="M13,0H2V2H0V13H11V11h2ZM10,12H1V3h9Zm2-2H11V2H3V1h9Z" />
            </svg>
        </div>
    }
    else
    {
        <div class="button-maximize" @onclick="OnMaximize">
            <svg version="1.1" width="48" height="32" viewBox="0 0 48 32">
                <g transform="translate(-270 -22)">
                    <rect style="fill: #111; opacity: 0;" transform="translate(270 22)" width="48" height="32" />
                    <g style="fill: rgba(255,255,255,0); stroke:#999;" transform="translate(288 32)">
                        <rect style="stroke: none;" width="12" height="12" />
                        <rect style="fill: none;" x=".5" y=".5" width="11" height="11" />
                    </g>
                </g>
            </svg>
        </div>
    }
    <div class="button-close" @onclick="OnClose">
        <svg version="1.1" width="48" height="12.7" viewBox="0 0 12.7 12.7">
            <path style="fill: #999; fill-rule: evenodd;" d="M12.7.7,12,0,6.4,5.6.7,0,0,.7,5.6,6.4,0,12l.7.7L6.4,7.1,12,12.7l.7-.7L7.1,6.4Z" />
        </svg>
    </div>
</div>
