@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@inherits LayoutComponentBase
@inject Window window

<div style="@padding">
    <TitleBar />
    @Body
</div>

@code {
    private string? padding = "";

    protected override void OnInitialized()
    {
        window.StateChanged += WindowStateChanged;
    }

    private void WindowStateChanged(object? sender, EventArgs e)
    {
        if (window.WindowState == WindowState.Maximized)
        {
            padding = "padding: 8px 8px 0px 8px;";
        }
        else
        {
            padding = "";
        }

        StateHasChanged();
    }
}
