@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@inherits LayoutComponentBase
@inject Window window

<TitleBar />

<div class="pt-4 container-xl p-responsive">
    <div class="Layout Layout--flowRow-until-md">
        <div class="Layout-sidebar">
            <NavMenu />
        </div>
        <div class="Layout-main">
            @Body
        </div>
    </div>
</div>
