@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@inject Window window

<div class="Header border-bottom py-0 title-bar @activeClass">
    <div class="Header-item m-0 pr-2">
        <img src="common/img/logo.svg" height="16" width="16" />
    </div>
    <ToolBar />
    <div class="Header-item Header-item--full m-0 dragger"></div>
    <div class="Header-item m-0">
        <button title="Minimize" tabindex="-1" class="border-0 p-0 height-full" @onclick="@(() => window.WindowState = WindowState.Minimized)">
            <svg version="1.1" width="10" height="10">
                <path d="M 0,5 10,5 10,6 0,6 Z"></path>
            </svg>
        </button>
    </div>
    @if (window.WindowState == WindowState.Maximized)
    {
        <div class="Header-item m-0">
            <button title="Restore" tabindex="-1" class="border-0 p-0 height-full" @onclick="@(() => window.WindowState = WindowState.Normal)">
                <svg version="1.1" width="10" height="10">
                    <path d="m 2,1e-5 0,2 -2,0 0,8 8,0 0,-2 2,0 0,-8 z m 1,1 6,0 0,6 -1,0 0,-5 -5,0 z m -2,2 6,0 0,6 -6,0 z"></path>
                </svg>
            </button>
        </div>
    }
    else
    {
        <div class="Header-item m-0">
            <button title="Maximize" tabindex="-1" class="border-0 p-0 height-full" @onclick="@(() => window.WindowState = WindowState.Maximized)">
                <svg version="1.1" width="10" height="10">
                    <path d="M 0,0 0,10 10,10 10,0 Z M 1,1 9,1 9,9 1,9 Z"></path>
                </svg>
            </button>
        </div>
    }
    <div class="Header-item m-0">
        <button title="Close" tabindex="-1" class="border-0 p-0 height-full close" @onclick="window.Close">
            <svg version="1.1" width="10" height="10">
                <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
            </svg>
        </button>
    </div>
</div>

@code {
    private string? activeClass = "";

    protected override void OnInitialized()
    {
        window.Activated += WindowActivated;
        window.Deactivated += WindowDeactivated;
        activeClass = window.IsActive ? "focused" : "blurred";
    }

    private void WindowActivated(object? sender, EventArgs e)
    {
        activeClass = "focused";
        StateHasChanged();
    }

    private void WindowDeactivated(object? sender, EventArgs e)
    {
        activeClass = "blurred";
        StateHasChanged();
    }
}
