@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@inject Window window

<div class="Header-item m-0 py-0 tool-bar-item">
    <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="f6 text-semibold" aria-haspopup="true">
            File
        </summary>

        <ul class="dropdown-menu dropdown-menu-se">
            <li><a class="dropdown-item" @onclick="@window.Close">Exit</a></li>
        </ul>
    </details>
</div>

<div class="Header-item m-0 py-0 tool-bar-item">
    <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="f6 text-semibold" aria-haspopup="true">
            Help
        </summary>

        <ul class="dropdown-menu dropdown-menu-se">
            <li><a class="dropdown-item" href="https://github.com/ChromaControl/ChromaControl/issues/new/choose" target="_blank">Report issue...</a></li>
            <li><a class="dropdown-item" href="https://discord.gg/6xGy7cycrt" target="_blank">Contact us...</a></li>
        </ul>
    </details>
</div>
