/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

:root,
[data-theme=light] {
    --text-color: #212121;
    --text-secondary-color: #69696c;
    --background-color: #f4f4f4;
    --box-border-color: #c7c7c7;
    --focus-color: #4fd838;
    --window-control-color: #999999;
    --window-control-hover-color: #000000;
    --window-control-hover-background: #ffffff;
    --window-control-active-color: #999999;
    --window-control-active-background: #ffffff;
}

@media (prefers-color-scheme: light) {
    [data-theme=system] {
        --text-color: #212121;
        --text-secondary-color: #69696c;
        --background-color: #f4f4f4;
        --box-border-color: #c7c7c7;
        --focus-color: #4fd838;
        --window-control-color: #999999;
        --window-control-hover-color: #000000;
        --window-control-hover-background: #ffffff;
        --window-control-active-color: #999999;
        --window-control-active-background: #ffffff;
    }
}

[data-theme=dark] {
    --text-color: #cccccc;
    --text-secondary-color: #888888;
    --background-color: #222222;
    --box-border-color: #111111;
    --focus-color: #42cb2b;
    --window-control-color: #999999;
    --window-control-hover-color: #ffffff;
    --window-control-hover-background: #000000;
    --window-control-active-color: #999999;
    --window-control-active-background: #000000;
}

@media (prefers-color-scheme: dark) {
    [data-theme=system] {
        --text-color: #cccccc;
        --text-secondary-color: #888888;
        --background-color: #222222;
        --box-border-color: #111111;
        --focus-color: #42cb2b;
        --window-control-color: #999999;
        --window-control-hover-color: #ffffff;
        --window-control-hover-background: #000000;
        --window-control-active-color: #999999;
        --window-control-active-background: #000000;
    }
}

[data-theme] {
    --font-family-sans-serif: system-ui, sans-serif, Segoe UI, Segoe UI Emoji, Segoe UI Symbol;
    --font-family-monospace: Consolas, monospace, Segoe UI, Segoe UI Emoji, Segoe UI Symbol;
    --font-size: 12px;
    --spacing: 10px;
    --border-radius: 0px;
    --base-border: 1px solid var(--box-border-color);
}

:root,
[data-theme=light] {
    color-scheme: light;
}

@media (prefers-color-scheme: light) {
    [data-theme=system] {
        color-scheme: light;
    }
}

[data-theme=dark] {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    [data-theme=system] {
        color-scheme: dark;
    }
}

[data-theme] {
    color: var(--text-color);
    background-color: var(--background-color);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: var(--font-size);
    position: relative;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size);
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

:not(input, textarea),
:not(input, textarea)::after,
:not(input, textarea)::before {
    user-select: none;
    cursor: default;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

code,
pre {
    font-family: var(--font-family-monospace);
}

button {
    -webkit-app-region: no-drag;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: dashed 1px var(--focus-color);
}

kbd {
    border-radius: var(--border-radius);
    border: var(--base-border);
    display: inline-block;
    padding: 1px 2px;
    line-height: 1;
    min-height: 16px;
    font-family: var(--font-family-monospace);
    text-align: center;
    min-width: 1.5em;
}

a {
    text-decoration: underline;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: var(--base-border);
}

    #blazor-error-ui .banner {
        height: 30px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        padding-left: var(--spacing);
    }

        #blazor-error-ui .banner .contents {
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;
            align-items: center;
        }

            #blazor-error-ui .banner .contents svg {
                margin-right: var(--spacing);
                fill: currentColor;
                flex-shrink: 0;
                color: #cb2431;
            }

            #blazor-error-ui .banner .contents span a {
                color: var(--text-color);
                cursor: pointer;
                display: inline-flex;
                align-items: center;
            }

        #blazor-error-ui .banner .close {
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: var(--spacing);
            margin-left: var(--spacing);
        }

            #blazor-error-ui .banner .close button {
                width: 16px;
                height: 16px;
                border: 0;
                padding: 0;
                color: var(--text-secondary-color);
                background: transparent;
            }

            #blazor-error-ui .banner .close button {
                width: 16px;
                height: 16px;
                border: 0;
                padding: 0;
                color: var(--text-secondary-color);
                background: transparent;
            }

                #blazor-error-ui .banner .close button svg {
                    fill: currentColor;
                    flex-shrink: 0;
                }
