<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="ChromaControl"
    Publisher="CN=Andrew Babbitt, O=Andrew Babbitt, L=Colorado, S=Colorado Springs, C=US"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Chroma Control</DisplayName>
    <PublisherDisplayName>Chroma Control Contributors</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <Extensions>
        
        <desktop:Extension Category="windows.fullTrustProcess" Executable="ChromaControl.Launcher\ChromaControl.Launcher.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="Asus" Parameters="Asus" />
            <desktop:ParameterGroup GroupId="Corsair" Parameters="Corsair" />
          </desktop:FullTrustProcess>
        </desktop:Extension>
        
        <desktop:Extension Category="windows.startupTask" Executable="ChromaControl.Asus\ChromaControl.Asus.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask DisplayName="Chroma Control - ASUS" TaskId="Asus" Enabled="false" />
        </desktop:Extension>
        
        <desktop:Extension Category="windows.startupTask" Executable="ChromaControl.Corsair\ChromaControl.Corsair.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask DisplayName="Chroma Control - Corsair" TaskId="Corsair" Enabled="false" />
        </desktop:Extension>
        
      </Extensions>
      <uap:VisualElements
        DisplayName="Chroma Control"
        Description="Razer Synapse modules for controlling all of your RGB products."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"
                         Square71x71Logo="Assets\SmallTile.png"
                         Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
