@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<h2>ENABLED DEVICE VENDORS</h2>
<p class="note-text">Note: Changing a vendor requires restarting the lighting service.</p>

<VendorList />
